body {
  font-family: 'Chelsea Market', cursive;
  font-weight: 400;
  background-color: #444444;
  min-height: 100vh;
}

h1, h2, h3, {
  font-family: 'Chelsea Market', cursive;
  font-weight: 400;
  color: #444444;
}

.grid-container {
  min-height: 100vh;
}

.grid-container>div {
  min-height: 100vh;
}

.quadre-central {
  background-image: url('../imagenes/foto editada.png');
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
  border: 6px solid #ffffff;
  min-height: 70vh;
  min-width: 70vw;
}

.header {
  background-color: #ffffff;
}

.title-bar {
  background-color: #ffffff;
  color: #444444;
}

.title-bar-title {
  font-weight: 400;
}

.title-bar .menu-icon {
  background-color: #444444;
}

.menu {
  background-color: #ffffff;
}

.contingut {
  min-height: 65vh;
}

.nom {
  color: #ffffff;
}

p, .posicion {
  font-family: 'Chelsea Market', cursive;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  position: left;
}

.enllac-retorn {
  position: fixed;
  left: 2vh;
  top: 2vh;
  color: rgb(255, 255, 255);
}