body {
  font-family: 'Chelsea Market', cursive;
  font-weight: 400;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-family: 'Chelsea Market', cursive;
  font-weight: 400;
  line-height: 1.8;
}

p {
  line-height: 1.8;
}

.grid-container {
  min-height: 100vh;
  background-image: url('../imagenes/5.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid-container>div {
  min-height: 100vh;
}

.quadre-central {
  background-image: url('../imagenes/blanca.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 6px solid #e3e3e3;
  min-height: 70vh;
  min-width: 70vw;
  margin-top: 8vh;
  margin-bottom: 8vh;
}

.header {
  background-color: #ffffff;
}

.title-bar {
  background-color: #ffffff;
  color: #2ba6cb;
}

.title-bar-title {
  font-weight: 400;
}

.title-bar .menu-icon {
  background-color: #2ba6cb;
}

.menu {
  background-color: #ffffff;
}

.contingut {
  min-height: 65vh;
}

.tituloimg {
  background-color: rgba(0, 0, 0, 0.41);
  padding: 10px;
  min-height: 65vh;
}

.titulopad {
  color: rgb(223, 223, 223);
  margin-left: 20px;
  margin-bottom: 75px;
  padding-left: 15px;
}

.imgfondo {
  background-image: url('../imagenes/biografia.jpg');
  background-size: cover;
  min-height: 40vh;
  padding-right: 20px;
}

.nom {
  color: #ffffff;
}

.enllac-retorn {
  position: fixed;
  left: 2vh;
  top: 2vh;
  color: #7d7d7d;
}

.enllac-retorn:hover {
  cursor: pointer;
}

.video1 {
  padding-top: 45px;
}